<launch>
  <arg name="model" default="$(find my_urdf)/urdf/my_box.urdf"/>
  <arg name="gui" default="true" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <!--node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz"
    args="-d $(find my_urdf)/rviz/config.rviz" />
  <node name="tf_pub" pkg="tf" type="static_transform_publisher"
    args="0 0 0 0 0 0 /map /base_link 10" />

</launch>
